{% load static %}

<link rel="stylesheet" href="{% static 'ta_explorer/style.css' %}">


<html>
    <head>
        <title>First try</title>
    </head>

    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Uniprot identifier</th>
            </tr>
            {% for ta in ta_list %}
                 <tr><a href="/ta_explorer/{{ ta.id }}/">{{ ta.name }}</a></tr>
                 <tr> {{ ta.uniprot_id }}</tr>
            {% endfor %}
        </table>
    </body>